

<div class="container well" style="width: 600px">
   <div><strong><%= @item.title %> </strong></div>
   <div> <strong>Description: </strong>  <%= @item.description %></div>
   
   <div> <strong><img src="/images/<%= @item.images.map(&:name).first %>" ></strong></div>
   <div> <strong>Price: </strong> <%= @item.price %></div>
<%= link_to "", cart_add_path(:id => @item.id), class: "fa fa-shopping-cart fa-5x " %>

</div>